body{
    margin:0;
    padding:50px;
    font-family:Arial, sans-serif;
    background-color: #7a260b;
    box-shadow:0 0 3px grey;
    border-radius: 2px;
}
.menu_container{
    /* display:flex; */
    color:white;
    flex-wrap:wrap;
    justify-content: center;
    gap:50px;
}
.menu_item{
    cursor: pointer;
    transition: 5s;
}
.menu_item:hover{
    background-color:orange;
    color:white;
    transform:scale(1.05);
}
